{% extends 'base.html.twig' %}

{% block title %}Редактирование Категории{% endblock %}

{% block body %}
    <h1>Редактирование Категории</h1>

    {{ include('news_category/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('news_category_index') }}">Назад к списку</a>
{% endblock %}
