{% extends 'base.html.twig' %}

{% block title %}Список категорий{% endblock %}

{% block body %}
    <h1>Список категорий</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
        {% for news_category in news_categories %}
            <tr>
                <td>{{ news_category.id }}</td>
                <td><a href="{{ path('news_category_show', {'id': news_category.id}) }}">{{ news_category.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_category_new') }}">Добавить</a>
{% endblock %}
